/* Start of Own Scss , Inicio de la propia Scss */

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/Img/afood.jpg');
    height: 65vh;
    max-width: 100vw;
    background-position: top 100;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(138, 134, 134, 0.596);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    .navbar {
        background-color: rgba(211, 211, 211, 0.616);
        display: flex;
        align-items: center;
        .nav {
            width: 70%;
            margin: 0 auto;
            padding: 1em;
            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                li {
                    margin: 1.2em;
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        text-decoration: none;
                        border: 1px solid rgb(219, 209, 209);
                        padding: 5px;
                        font-family: 'Merriweather', serif;
                        color: rgb(27, 26, 26);
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
    .intro {
        width: 50%;
        margin: 50px auto;
        text-align: center;
        h1 {
            color: whitesmoke;
            font-family: 'Merienda', cursive;
            font-size: 3.5rem;
            letter-spacing: 5px;
        }
        p {
            color: whitesmoke;
            font-family: 'Merriweather', serif;
            letter-spacing: 2px;
            font-size: 1.5rem;
        }
        ul {
            li {
                margin: 80px;
                a {
                    color: whitesmoke;
                    font-family: 'Merriweather', serif;
                    text-decoration: none;
                    background-color: rgb(184, 109, 24);
                    padding: 1em 2em;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.info {
    height: 40vh;
    background-color: rgb(236, 234, 230);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(/zeten.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    .middle {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        letter-spacing: 2px;
        h2 {
            text-align: center;
            font-family: 'Merriweather', serif;
            font-size: 2rem;
            padding: 20px;
            margin-top: 52px;
            color: whitesmoke;
        }
        h3 {
            text-align: center;
            font-family: 'Merriweather', serif;
            font-size: 0.9rem;
            padding: 30px;
            color: white;
            font-weight: 300;
        }
        button {
            width: 300px;
            margin: 0 auto;
            font-family: 'Merriweather', serif;
            padding: 1em;
            background-color: rgb(184, 109, 24);
            border: none;
            text-transform: uppercase;
            color: whitesmoke;
            letter-spacing: 1px;
        }
    }
}

.slider {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.showcase {
    background-color: rgb(212, 222, 223);
    .containershowcase {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .showcase {
            border: 1px solid rgba(0, 0, 0, 0.411);
            border-radius: 2px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            box-shadow: -1px 9px 12px -1px rgb(136, 141, 148);
        }
        img {
            padding: 10px;
        }
        p {
            text-align: center;
            padding: 5px;
        }
        button {
            width: 50%;
            margin: 10px auto;
            cursor: pointer;
        }
    }
}

.map {
    .box {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
    }
    footer {
        background-color: rgba(211, 211, 211, 0.76);
        .box {
            display: flex;
            justify-content: space-between;
            ul {
                list-style: none;
                display: flex;
                li {
                    padding: 5px;
                    a {
                        text-decoration: none;
                        padding: 5px;
                    }
                }
            }
        }
    }
}